{%extends 'account/account_base.html'%}{% load i18n %}{%load widget_tweaks%} {%block content%}
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Confident Dental Care</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">
            {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
        </p>

        {% if token_fail %} {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %} {%if form%}
        <form action="{{ action_url }}" name="passResetKeyForm" id="passResetKeyForm" method="POST">
            {%csrf_token%}
            <div class="error">
                {%for field in form%}
                <p>{{field.errors}}</p> {%endfor%} {%for error in form.non_field_errors%}
                <p>{{error}}</p>
                {%endfor%}
            </div>

            <div class="form-group">
                <label for="password1">New Password</label> {%render_field form.password1 class="form-control" id="password1" minlength="8" maxlength="15" required="true"%}
            </div>
            <div class="form-group">
                <label for="password2">New Password (Again)</label> {%render_field form.password2 class="form-control" id="password2" equalTo="#password1" required="true"%}
            </div>

            <button type="submit" class="btn btn-info btn-flat">Change My Password</button>

            <p>Please contact admin if you have any trouble resetting your password.</p>
        </form>

        {% else %}
        <p>{% trans 'Your password is now changed.' %}</p>
        <a href="/authentication/dashboard/" class="pull-right">Back To Dashboard</a> {%endif%} {%endif%}

    </div>
</div>
{%endblock%}