{%extends 'account/account_base.html'%}{%load widget_tweaks%}{% load i18n %} {% load account %} {%block content%}
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>YUMSUK Medical Clinic</b></a>
    </div>
    <div class="login-box-body">
        {% if user.is_authenticated %} {% user_display user as user_display %}
        <p><strong>{% trans "Note" %}:</strong> {% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
        {%endif%}
        <p>{% blocktrans %}We have sent you an e-mail. Please contact admin if you do not receive it within a few minutes.{% endblocktrans %}</p>

        <a href="/" class="pull-right">Back To Home</a>
    </div>
</div>
{%endblock%}