{%extends 'account/account_base.html'%}{%load widget_tweaks%} {%block content%}
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>YUMSUK Medical Clinic</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">
            Forgotten your password? Enter your e-mail address below, and you'll recieve an e-mail allowing you to reset it.
        </p>
        <form action="{% url 'account_reset_password' %}" name="passResetForm" id="passResetForm" method="POST">
            {%csrf_token%}
            <div class="error">
                {%for field in form%}
                <p>{{field.errors}}</p> {%endfor%} {%for error in form.non_field_errors%}
                <p>{{error}}</p>
                {%endfor%}
            </div>

            <div class="form-group">
                {%render_field form.email class="form-control" id="email" required="true" %}
            </div>

            <button type="submit" class="btn btn-info btn-flat">Reset My Password</button>

            <p>Please contact admin if you have any trouble resetting your password.</p>
        </form>

    </div>
</div>
{%endblock%}