{%extends 'account/account_base.html'%}{%load widget_tweaks%} {%block content%}
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Confident Dental Care</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">
            Change Password
        </p>
        <form action="{% url 'account_change_password' %}" name="passChangeForm" id="passChangeForm" method="POST">
            {%csrf_token%}
            <div class="error">
                {%for field in form%}
                <p>{{field.errors}}</p> {%endfor%} {%for error in form.non_field_errors%}
                <p>{{error}}</p>
                {%endfor%}
            </div>

            <div class="form-group">
                <label for="oldpassword">Old Passowrd</label> {%render_field form.oldpassword class="form-control" id="oldpasword" required="true"%}
            </div>
            <div class="form-group">
                <label for="password1">New Password</label> {%render_field form.password1 class="form-control" id="password1" required="true" minlength="8" maxlength="15"%}
            </div>

            <div class="form-group">
                <label for="password2">New Password (Again)</label> {%render_field form.password2 class="form-control" id="password2" equalTo="#password1" required="true"%}
            </div>
            <button type="submit" class="btn btn-info btn-flat">Change My Password</button>

            <p>Please contact admin if you have any trouble changing your password.</p>
        </form>
        <a href="/authentication/dashboard/" class="pull-right">Back To Dashboard</a>
    </div>
</div>
{%endblock%}