{%extends 'mainsite/main_base.html'%}{%load static%} {%block content%}
<div class="container">
    <div class="box-header box-header-home">
        <h3>X-Ray</h3>
    </div>
    <div class="col-sm-6">
        <img src="{%static 'images/xrayMachine.jpg'%}" style="height: 380px; width: 500px;">
    </div>
    <div class="col-sm-6 text-justify">
        <p>Regular oral exams and dental X-Rays are the best way to keep your smile in great shape and avoid dental emergencies and other issues that can become more costly. At Confident Dental Care we have our own X-Ray machine to examine your oral condition.
            We aslo have experts to do your X-Ray diagnosis.
            <br/> Your doctor or dental hygienist will review your digital dental X-rays and perform an exam to check the health of your teeth and gums, as well as examining any dental restorations such as fillings or crowns to make sure they are in
            good shape.
            </br>
            Your doctor can spot the signs of problems such as cavities or gum disease and help you proactively take care of them. Your regular dental checkup is a great time to ask your dental professional about any questions you may have about your oral health,
            and review tips and techniques for good brushing and flossing habits to keep your smile as healthy as possible between visits.At Confident Dental Care we have your comfort and dental health in mind. Our team is committed to serving to you
            bring home the bacon a healthy, stunning smile and gain the most effective dental expertise doable. We have a tendency to try this by making a heat and friendly setting therefore you will be able to have the benefit of a relaxed and tranquil
            atmosphere. We utilize advanced dental technology therefore you will be able to fancy quick and effective dental treatment victimization progressive techniques to reinforce the aesthetics and performance of your smile.</p>
    </div>
</div>
{%endblock%}