{%extends 'mainsite/main_base.html'%}{%load static%}{%block content%}
<div class="container">
    <div class="row">
        <div class="box" style="margin-bottom: 75px;">

            <div class="box" style="margin-bottom: 75px;">
                <div class="box-header">
                    <h4>Members</h4>
                </div>
                <hr>
                <div class="box-body">
                    <img src="{%static 'images/member/1.jpg'%}" style="height: 430px; width: 560px; margin-right: 15px;">
                    <img src="{%static 'images/member/2.jpg'%}" style="height: 430px; width: 560px; margin-right: 15px;"><br/><br/>
                    <img src="{%static 'images/member/3.jpg'%}" style="height: 430px; width: 560px; margin-right: 15px;">
                    <img src="{%static 'images/member/4.jpg'%}" style="height: 430px; width: 560px; margin-right: 15px;"><br/><br/>
                </div>
            </div>

            <div class="box-header">
                <h4>Clinic</h4>
            </div>
            <hr>
            <div class="box-body">
                <img src="{%static 'images/clinic/1.jpg'%}" style="height: 430px; width: 560px; margin-right: 15px;">
                <img src="{%static 'images/clinic/2.jpg'%}" style="height: 430px; width: 560px; margin-right: 15px;"><br/><br/>
                <img src="{%static 'images/clinic/3.jpg'%}" style="height: 430px; width: 560px; margin-right: 15px;">
                <img src="{%static 'images/clinic/4.jpg'%}" style="height: 430px; width: 560px; margin-right: 15px;"><br/><br/>
                <img src="{%static 'images/clinic/5.jpg'%}" style="height: 430px; width: 560px; margin-right: 15px;">
                <img src="{%static 'images/clinic/6.jpg'%}" style="height: 430px; width: 560px; margin-right: 15px;">
            </div>
        </div>

        <div class="box" style="margin-bottom: 25px;">
            <div class="box-header">
                <h4>Patients</h4>
            </div>
            <hr>
            <div class="box-body">
                <img src="{%static 'images/patient/1.JPG'%}" style="height: 430px; width: 560px; margin-right: 15px;">
                <img src="{%static 'images/patient/2.JPG'%}" style="height: 430px; width: 560px; margin-right: 15px;"><br/><br/>
                <img src="{%static 'images/patient/3.JPG'%}" style="height: 430px; width: 560px; margin-right: 15px;">
                <img src="{%static 'images/patient/4.JPG'%}" style="height: 430px; width: 560px; margin-right: 15px;"><br/><br/>
            </div>
        </div>
    </div>
</div>


{%endblock%}