{%extends 'mainsite/main_base.html'%} {%load static%} {%block content%}
<div class="container-fluid">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{%static 'images/Members.jpg'%}" align="center" alt="Rain" width="460" height="345">
                <div class="carousel-caption">
                    <!-- button appointment -->
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#appointmentModal" style="background-color: #00a65a">Book Your Appointment</button>
                </div>
            </div>

            <div class="item">
                <img src="{%static 'images/working.jpg'%}" alt="Tree" width="460" height="345">
                <div class="carousel-caption">
                </div>
            </div>

            <div class="item">
                <img src="{%static 'images/clinic.jpg'%}" alt="Paper" width="460" height="345">
                <div class="carousel-caption">
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<!--Body-->
<div class="box box-widget">
    <div class="box-header box-header-home">
        <h3>Welcome to Confident Dental Care</h3>
    </div>
    <div class="container-fluid">
        <div class="col-sm-6">
            <img src="{%static 'images/unit.jpg'%}" style="height: 340px; width: 610px;">
        </div>
        <div class="col-sm-6 text-justify">
            <p>At YUMSUK Medical Clinics, we prioritize your well-being and overall health. Our team of dedicated doctors is committed to providing you with exceptional medical care and ensuring a positive healthcare experience. We strive to create a welcoming and compassionate environment where you can feel comfortable and at ease. Utilizing advanced medical technologies, we offer efficient and effective treatments that enhance both the functionality and aesthetics of your well-being.</p>
            <p>Our mission is to improve the health and well-being of our community by delivering transformative medical care to those in need. We believe that every individual deserves access to comprehensive healthcare and the opportunity to achieve and maintain a healthy lifestyle.</p>
            <p>At YUMSUK Medical Clinics, your health and satisfaction are our top priorities. We are dedicated to delivering exceptional medical care, ensuring that you receive the best possible treatment from our skilled team of doctors. With a focus on expertise, advanced technologies, and a compassionate approach, we aim to enhance your well-being and provide you with a positive healthcare experience.</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="box box-widget">
                <div class="box-header box-header-home">
                    <h3 class="box-title">Address</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body box-body-home">
                    <strong>Main Campus Branch</strong>
                    <p>
                        Along General Muhammadu BUhari way kofar ruwa, kano. <br/> Consulting Hours: Everyday 7am to 9pm <br/> Telephone: 08126348799., 07026997180
                    </p>
                    <br/>
                    <strong>City Campus Branch</strong>
                    <p>
                        KOfar Nassarawa, Kano. <br/> Consulting Hours: Everyday 10am to 1pm &amp; 4pm to 9pm <br/> Telephone: 09050962034.
                    </p>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-sm-6">
            <div class="box box-widget">
                <div class="box-header box-header-home">
                    <h3 class="box-title">Book Your Appointment</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body box-body-home">
                    <br/>
                    <p>Click the button to book your appointment or call us on-</p>
                    <br/><br/>
                    <p><span class="glyphicon glyphicon-earphone"></span> <b style="text-align: center;">+2348126348799</b> </p><br/><br/>
                    <!-- button appointment -->
                    <button type="submit" class="btn btn-success btn-lg" data-toggle="modal" data-target="#appointmentModal" style="background-color: #00a65a">Appointment</button>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>


<!-- Footer -->


{%endblock%}