{%extends 'mainsite/main_base.html'%}{%load static%}{%block content%}
<div class="container">
    <div class="row" style="margin-bottom: 25px;">
        <div class="box box-default col-sm-6">
            <div class="box-header box-header-news"><strong>Free Dental Check Up</strong></div>
            <div class="box-body with-border">
                <img src="{%static 'images/freeCheckUp.JPG'%}" style="height: 300px; width: 555px;">
            </div>
        </div>

        <div class="box box-default col-sm-6">
            <div class="box-header box-header-news"><strong>Boat Ride</strong></div>
            <div class="box-body with-border">
                <img src="{%static 'images/picnic.jpg'%}" style="height: 300px; width: 555px;">
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 25px;">
        <div class="box box-default col-sm-6">
            <div class="box-header box-header-news"><strong>Boat Ride</strong></div>
            <div class="box-body with-border">
                <img src="{%static 'images/boatRide.jpg'%}" style="height: 300px; width: 555px;">
            </div>
        </div>
    </div>
</div>

{%endblock%}