{%extends 'mainsite/main_base.html'%}{%load static%}{%block content%}
<div class="container">
    <div class="box personalCare">
        <div class="box-body text-justify" style="margin-left: 15px; margin-right: 15px;">
            <h2>Dental Hygiene for Families</h2>
            <p>Brushing teeth two times every day is an important part of oral hygiene. Use a toothbrush with soft bristles in a size that fits into all areas of the mouth easily. Flossing between teeth once each day is also important for removing bacteria
                from between teeth and under gums. Not brushing and flossing teeth regularly can lead to issues with teeth. Bacteria will cover teeth, which leads to plaque and tartar build-up. Over time, cavities will occur and tartar will damage teeth
                and become hard to remove. Not brushing could also lead to unhealthy gums because the brushing action stimulates gums and keeps them healthy.</p>
            <img src="{%static 'images/tooth.png'%}" class="pull-right" style="height: 300; width: 370">
            <br/>
            <h3>Brushing Your Teeth</h3>

            <p>Brushing your teeth is an important part of your dental care routine. For a healthy mouth and smile the ADA recommends you:</p>
            <ul>
                <li>Brush your teeth twice a day with a soft-bristled brush. The size and shape of your brush should fit your mouth allowing you to reach all areas easily.</li>
                <li>Replace your toothbrush every three or four months, or sooner if the bristles are frayed. A worn toothbrush won’t do a good job of cleaning your teeth.</li>
                <li>Make sure to use an ADA-accepted fluoride toothpaste.</li>
            </ul>

            <p>The proper brushing technique is to:</p>
            <ul>
                <li>Place your toothbrush at a 45-degree angle to the gums. </li>
                <li>Gently move the brush back and forth in short (tooth-wide) strokes. </li>
                <li>Brush the outer surfaces, the inner surfaces, and the chewing surfaces of the teeth. </li>
                <li>To clean the inside surfaces of the front teeth, tilt the brush vertically and make several up-and-down strokes. </li>
            </ul>

            <p>Of course, brushing your teeth is only a part of a complete dental care routine. You should also make sure to:</p>
            <ul>
                <li>Place your toothbrush at a 45-degree angle to the gums.</li>
                <li>Gently move the brush back and forth in short (tooth-wide) strokes</li>
                <li>Brush the outer surfaces, the inner surfaces, and the chewing surfaces of the teeth.</li>
                <li>To clean the inside surfaces of the front teeth, tilt the brush vertically and make several up-and-down strokes. </li>
            </ul>

            <br/>
            <h3>Dental Care Every Day</h3> <img src="{%static 'images/howToBrush.jpg'%}" class="pull-right" style="height: 300; width: 370">

            <p>Like everyone else, people with developmental disabilities can have a healthy mouth if these three steps are followed:</p>
            <ol>
                <li>Brush every day.</li>
                <li>Floss every day.</li>
                <li>Visit a Dentist regularly.</li>
            </ol>

            <strong>Step 1: Brush Every Day</strong>
            <p>If the person you care for is unable to brush, these suggestions might be helpful.</p>
            <ul>
                <li>First, wash your hands and put on disposable gloves. Sit or stand where you can see all of the surfaces of the teeth.</li>
                <li>Be sure to use a regular or power toothbrush with soft bristles.</li>
                <li>Use a pea-size amount of toothpaste with fluoride, or none at all. Toothpaste bothers people who have swallowing problems. If this is the case for the person you care for, brush with water instead.</li>
                <li>Brush the front, back, and top of each tooth. Gently brush back and forth in short strokes.</li>
                <li>Gently brush the tongue after you brush the teeth.</li>
                <li>Help the person rinse with plain water. Give people who can't rinse a drink of water or consider sweeping the mouth with a finger wrapped in gauze.</li>
            </ul><br/>

            <strong>Step 2: Floss Every Day</strong><img src="{%static 'images/floss.jpg'%}" class="pull-right" style="height: 300; width: 370">
            <p>Flossing cleans between the teeth where a toothbrush can't reach. Many people with disabilities need a caregiver to help them floss. Flossing is a tough job that takes a lot of practice. Waxed, unwaxed, flavored, or plain floss all do the
                same thing. The person you care for might like one more than another, or a certain type might be easier to use.</p>

            <ul>
                <li> Use a string of floss 18 inches long. Wrap that piece around the middle finger of each hand.</li>
                <li>Grip the floss between the thumb and index finger of each hand.</li>
                <li>Start with the lower front teeth, then floss the upper front teeth. Next, work your way around to all the other teeth.</li>
                <li>Work the floss gently between the teeth until it reaches the gumline. Curve the floss around each tooth and slip it under the gum. Slide the floss up and down. Do this for both sides of every tooth, one side at a time.</li>
                <li>Adjust the floss a little as you move from tooth to tooth so the floss is clean for each one.</li>
            </ul><br/>

            <strong>Step 3: Visit a Dentist Regularly</strong>
            <p>Your client should have regular dental appointments. Professional cleanings are just as important as brushing and flossing every day. Regular examinations can identify problems before they cause unnecessary pain.<br/> As is the case with dental
                care at home, it may take time for the person you care for to become comfortable at the dental office. A "get acquainted" visit with no treatment provided might help: The person can meet the dental team, sit in the dental chair if he or
                she wishes, and receive instructions on how to brush and floss. Such a visit can go a long way toward making dental appointments easier.</p>

            <br/>
            <h3>Taking Care of Teeth</h3>
            <img src="{%static 'images/teeth.jpeg'%}" class="pull-right" style="height: 300; width: 370">
            <p>Dentists say that the most important part of tooth care happens at home. Brushing and flossing properly, along with regular dental checkups, can help prevent tooth decay and gum disease.
                <br/> About 1 person in 10 has a tendency to accumulate tartar quickly. Tartar is plaque in a hardened form that is more damaging and difficult to remove. Using anti-tartar toothpastes and mouthwashes, as well as spending extra time brushing
                the teeth near the salivary glands (the inside of the lower front teeth and the outside of the upper back teeth) may slow the development of new tartar.
                <br/> If you have teeth that are sensitive to heat, cold, and pressure, you may want to try a special toothpaste for sensitive teeth. But you'll still need to talk to your dentist about your sensitivity because it may indicate a more serious
                problem, such as a cavity or nerve inflammation (irritation).</p>

            <br/>
            <h3>Healty Teeth</h3>
            <p>Caring for young children's teeth is an important part of keeping their bodies healthy—and it's never too early to get started! Strong first or baby teeth set the stage for strong permanent teeth, and help children play, learn, and grow. These
                tips and tools were designed to help you and your child care for her teeth together.</p>
        </div>
    </div>
</div>

{%endblock%}