{%extends 'mainsite/main_base.html'%}{%load static%}{%block content%}
<div class="container">
    <div class="box personalCare">
        <div class="box-body text-justify" style="margin-left: 15px; margin-right: 15px;">
            <h2>Practicing Good Hygiene</h2>
            <p>Maintaining good personal hygiene is essential for overall health and well-being. Proper hygiene practices help prevent the spread of germs, reduce the risk of infections, and promote a clean and comfortable living environment. Here are some key aspects of good hygiene:</p>
            <img src="{%static 'images/tooth.png'%}" class="pull-right" style="height: 300; width: 370">
            <br/>
            <h3>Handwashing</h3>

            <p>Wash your hands thoroughly with soap and water for at least 20 seconds, especially before eating, after using the restroom, and after coughing, sneezing, or touching surfaces. Handwashing helps prevent the transmission of germs and reduces the risk of illnesses.</p>

            <h3>Oral Hygiene</h3>
            <p>
                Brush your teeth at least twice a day for two minutes each time, using fluoride toothpaste. Additionally, floss daily to remove plaque and food particles between your teeth. Maintaining good oral hygiene helps prevent tooth decay, gum disease, and bad breath.
            </p>

            <h3>Showering and Bathing</h3>
            <p>
                Regularly shower or bathe to keep your body clean and fresh. Use mild soap or body wash to cleanse your skin, paying attention to areas prone to sweat and odor. Cleanse your hair regularly using shampoo and conditioner suitable for your hair type.
            </p>

            <h3>Clean Clothing</h3>
            <p>
                Wear clean clothes and change them regularly. Launder your clothes, including undergarments and socks, to maintain cleanliness and prevent the buildup of bacteria and odors.
            </p>

            <h3>Nail Care</h3>
            <p>
                Trim your nails regularly and keep them clean. Proper nail care helps prevent the accumulation of dirt and bacteria, reducing the risk of infections.
            </p>

            <br/>
            <h2>Manage Stress</h2> <img src="{%static 'images/howToBrush.jpg'%}" class="pull-right" style="height: 200; width: 270">

            <p>Stress management is crucial for maintaining a healthy mind and body. Chronic stress can negatively impact physical and mental health, leading to increased anxiety, fatigue, and decreased productivity. Find healthy coping mechanisms to manage stress effectively. This may include practicing mindfulness and relaxation techniques like deep breathing exercises, meditation, or yoga. Engage in regular physical activity, as exercise releases endorphins that boost mood and reduce stress.</p>
            
            <p>Additionally, prioritize self-care activities that bring you joy, such as engaging in hobbies, spending time with loved ones, or enjoying nature. If stress becomes overwhelming, seek support from friends, family, or university counseling services.</p>
            

            <h2>Maintain a Balanced Diet</h2><img src="{%static 'images/floss.jpg'%}" class="pull-right" style="height: 300; width: 370">
            <p>Proper nutrition is vital for physical health, mental clarity, and overall vitality. Aim to consume a variety of nutrient-dense foods, including fruits, vegetables, whole grains, lean proteins, and healthy fats. These provide essential vitamins, minerals, antioxidants, and fiber. Avoid excessive consumption of processed foods, sugary snacks, and beverages. Instead, opt for wholesome meals that fuel your body and brain.</p>
            
            <p>Stay hydrated by drinking an adequate amount of water throughout the day. A balanced diet supports optimal energy levels, cognitive function, immune system strength, and overall well-being.</p>



            <h2>Get enough sleep</h2>
            <img src="{%static 'images/teeth.png'%}" class="pull-right" style="height: 400; width: 370">
            <p>Sufficient sleep is crucial for overall well-being and academic success. When you sleep, your body and mind undergo essential restorative processes. Lack of sleep can lead to decreased concentration, impaired memory, weakened immune function, and increased stress levels.<br> To prioritize sleep, establish a consistent sleep schedule, create a relaxing bedtime routine, and ensure your sleep environment is comfortable, quiet, and dark.</br> Avoid electronic devices before bed as the blue light can interfere with sleep. Getting 7-9 hours of quality sleep each night will help you feel refreshed, energized, and ready to tackle the day.</p>

        </div>
    </div>
</div>

{%endblock%}