{%extends 'mainsite/main_base.html'%}{%load static%}{%block content%}

<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>By ultrasonic machine, we remove stone from your teeth to prevent stains from the mouth.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>With modern technology we remove spots from your teeth which may cause because of smoking.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>By high speed turbine machine we do light cure filling on your hollow teeth.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>To remove your pain we offer root canal.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>We offer pain free treatment.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>To keep your smile beautiful we do cosmetic dentistry.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>Proper tretment for wisdom teeth.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>We also offer proper treatment for your children.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>Proper treatment for oral cancer.
        </div>
    </div>
</div>

{%endblock%}