{%extends 'mainsite/main_base.html'%}{%load static%}{%block content%}

<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>Comprehensive medical services for routine check-ups and illnesses.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>Prompt medical attention for non-life-threatening conditions.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>Counseling and therapy for emotional well-being and support.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>Vaccinations to protect against diseases and meet health requirements.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>Gynecological exams and reproductive health services for women.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>Confidential screening, testing, and treatment for sexually transmitted infections.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>Confidential screening, testing, and treatment for sexually transmitted infections.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>Workshops, seminars, and resources promoting health awareness.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>Consultations, vaccinations, and advice for students traveling.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>Diagnostic testing available on-site or through referrals.
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <span class="glyphicon glyphicon-asterisk icon-success"></span>Rehabilitation, exercise programs, and injury management for musculoskeletal conditions.
        </div>
    </div>

</div>

{%endblock%}