{%extends 'mainsite/main_base.html'%}{%load static%}{%block content%}
<div class="container">
    <div class="row">
        <div class="box" style="margin-bottom: 75px;">
            <div class="box-header">
                <h4>Dental Caries</h4>
            </div>
            <hr>
            <div class="box-body">
                <img src="{%static 'images/dentalCaries/1.png'%}" style="height: 150px; width: 150px; margin-right: 15px;">
                <img src="{%static 'images/dentalCaries/2.jpg'%}" style="height: 150px; width: 150px; margin-right: 15px;">
                <img src="{%static 'images/dentalCaries/3.jpg'%}" style="height: 150px; width: 280px; margin-right: 15px;">
                <img src="{%static 'images/dentalCaries/4.jpg'%}" style="height: 150px; width: 180px; margin-right: 15px;">
                <img src="{%static 'images/dentalCaries/5.jpg'%}" style="height: 150px; width: 150px; margin-right: 15px;">
                <img src="{%static 'images/dentalCaries/6.jpg'%}" style="height: 150px; width: 150px; margin-right: 15px;">
            </div>
        </div>

        <div class="box" style="margin-bottom: 75px;">
            <div class="box-header">
                <h4>Dental Cap</h4>
            </div>
            <hr>
            <div class="box-body">
                <img src="{%static 'images/cap/1.jpg'%}" style="height: 150px; width: 190px; margin-right: 15px;">
                <img src="{%static 'images/cap/2.jpg'%}" style="height: 150px; width: 330px; margin-right: 15px;">
                <img src="{%static 'images/cap/3.jpg'%}" style="height: 150px; width: 160px; margin-right: 15px;">
                <img src="{%static 'images/cap/4.jpg'%}" style="height: 150px; width: 200px; margin-right: 15px;">
                <img src="{%static 'images/cap/5.jpg'%}" style="height: 150px; width: 180px; margin-right: 15px;">
            </div>
        </div>

        <div class="box" style="margin-bottom: 75px;">
            <div class="box-header">
                <h4>Dental Implant</h4>
            </div>
            <hr>
            <div class="box-body">
                <img src="{%static 'images/implant/1.jpg'%}" style="height: 150px; width: 210px; margin-right: 15px;">
                <img src="{%static 'images/implant/2.jpg'%}" style="height: 150px; width: 320px; margin-right: 15px;">
                <img src="{%static 'images/implant/3.jpg'%}" style="height: 150px; width: 160px; margin-right: 15px;">
                <img src="{%static 'images/implant/4.jpg'%}" style="height: 150px; width: 180px; margin-right: 15px;">
                <img src="{%static 'images/implant/5.jpg'%}" style="height: 150px; width: 180px; margin-right: 15px;">
            </div>
        </div>

        <div class="box" style="margin-bottom: 75px;">
            <div class="box-header">
                <h4>Periodontitis</h4>
            </div>
            <hr>
            <div class="box-body">
                <img src="{%static 'images/periodontitis/1.jpg'%}" style="height: 150px; width: 340px; margin-right: 15px;">
                <img src="{%static 'images/periodontitis/2.jpg'%}" style="height: 150px; width: 180px; margin-right: 15px;">
                <img src="{%static 'images/periodontitis/3.jpg'%}" style="height: 150px; width: 160px; margin-right: 15px;">
                <img src="{%static 'images/periodontitis/4.jpg'%}" style="height: 150px; width: 180px; margin-right: 15px;">
                <img src="{%static 'images/periodontitis/5.jpg'%}" style="height: 150px; width: 180px; margin-right: 15px;">
            </div>
        </div>

        <div class="box" style="margin-bottom: 25px;">
            <div class="box-header">
                <h4>Oral Cancer</h4>
            </div>
            <hr>
            <div class="box-body">
                <img src="{%static 'images/cancer/1.jpg'%}" style="height: 150px; width: 200px; margin-right: 15px;">
                <img src="{%static 'images/cancer/2.jpg'%}" style="height: 150px; width: 200px; margin-right: 15px;">
                <img src="{%static 'images/cancer/3.jpg'%}" style="height: 150px; width: 200px; margin-right: 15px;">
                <img src="{%static 'images/cancer/4.jpg'%}" style="height: 150px; width: 200px; margin-right: 15px;">
                <img src="{%static 'images/cancer/5.jpg'%}" style="height: 150px; width: 220px; margin-right: 15px;"><br/><br/>
                <img src="{%static 'images/cancer/6.jpg'%}" style="height: 150px; width: 240px; margin-right: 15px;">
                <img src="{%static 'images/cancer/7.jpg'%}" style="height: 150px; width: 180px; margin-right: 15px;">
                <img src="{%static 'images/cancer/8.jpg'%}" style="height: 150px; width: 190px; margin-right: 15px;">
                <img src="{%static 'images/cancer/9.jpg'%}" style="height: 150px; width: 200px; margin-right: 15px;">
                <img src="{%static 'images/cancer/10.jpg'%}" style="height: 150px; width: 200px; margin-right: 15px;">
            </div>
        </div>
    </div>
</div>

{%endblock%}